@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fafafa;
  color: #111517;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #111517;
}
header {
  border-bottom: 1px solid #e6e6e6;
}

header h1 {
  font-size: 1.2em;
  padding: 35px 0 35px 5%;
}

#modal-container {
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#modal-container.active {
  display: block;
}

#modal {
  background: white;
  max-width: 550px;
  width: 90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 25px;
  border-radius: 5px;
  z-index: 2;
  word-break: break-all;
}

#close-modal {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 0 15px 0;
  margin-bottom: 24px;
}

.gg-close {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1.6));
  width: 22px;
  height: 22px;
  border: 2px solid transparent;
  border-radius: 40px;
  cursor: pointer;
}
.gg-close::after,
.gg-close::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 16px;
  height: 2px;
  background: #111517;
  transform: rotate(45deg);
  border-radius: 5px;
  top: 8px;
  left: 1px;
}
.gg-close::after {
  transform: rotate(-45deg);
}

#modal-img img {
  width: 100%;
  max-height: 300px;
}

.country-details {
  margin: 24px 0;
}

.country-details:last-child {
  margin-bottom: 0;
}

.country-details h2 {
  margin-bottom: 24px;
}

.country-details h4 {
  margin: 8px 0;
}

.country-details span {
  font-weight: 300;
}

.border {
  box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.5);
  padding:2px 5px;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  margin: 35px auto;
}

.gg-search {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 16px;
  border: 2px solid;
  border-radius: 100%;
  margin-left: -4px;
  margin-top: -4px;
}
.gg-search::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 8px;
  background: currentColor;
  transform: rotate(-45deg);
  top: 10px;
  left: 12px;
}

#search-wrapper {
  display: flex;
  padding-left: 20px;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 35px;
  background: white;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

#search-wrapper input[type="text"] {
  border: none;
  outline: none;
  padding: 15px 15px 15px 25px;
  width: 100%;
  border-radius: 5px;
  font-size: 0.8rem;
}

#filter-wrapper {
  position: relative;
}

#filter-btn {
  border: none;
  background: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

#filter-content {
  background: white;
  padding: 15px;
  position: absolute;
  left: 0;
  right: 0;
  display: none;
  border-radius: 0 0 5px 5px;
}

#filter-content li {
  padding: 20px;
  cursor: pointer;
}

#filter-content li:hover {
  font-weight: bold;
}

#countries {
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  width: 90%;
  margin: auto;
  margin-bottom: 35px;
}

.card {
  background: white;
  border-radius: 5px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}

.card .card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
  height: 250px;
}

.card .card-content {
  padding: 25px 25px 50px 30px;
}

.card .card-content h2 {
  font-size: 1.2rem;
  margin-bottom: 25px;
}

.card .card-content h4 {
  font-size: 1rem;
  margin-bottom: 10px;
}

.card .card-content h4 span {
  font-weight: 300;
}

#no-result {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  margin-top: 35px;
  grid-column: 1/6;
}
#footer {
  color: #111517;
  text-align: center;
  margin: 100px 0;
}
@media (min-width: 768px) {
  #countries {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
  }
}

@media (min-width: 900px) {
  .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 50px auto;
  }

  #filter-wrapper {
    width: 500px;
    margin-left: 100px;
  }

  #search-wrapper {
    width: 500px;
    margin-bottom: 0;
  }
}

@media (min-width: 1024px) {
  #countries {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1400px) {
  #countries {
    grid-template-columns: repeat(4, 1fr);
  }
}
